<?xml version="1.0"?>
<connectionStrings>
  <add name="localDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CarRentalSystemDatabase;Integrated Security=True" />
  <add name="azureDB" connectionString="Server=tcp:carrentalsystem.database.windows.net,1433;Initial Catalog=CarRentalSystemDatabase;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
</connectionStrings>